services:
  backend:
    container_name: backend-compose
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
