name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Github
        uses: actions/checkout@v4

      - name: Setup Node Js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Migration
        run: npm run migration:run
        env:
          NODE_ENV: production
          NEON_DB_STRING: ${{secrets.NEON_DB_STRING}}

      - name: Deploy to Production
        run: npm run build
